*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-image: url("../images/start.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Boogaloo", serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  z-index: -1;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 150px;
  padding: 20px;
  position: relative;
}

h1 {
  font-size: 5rem;
  margin: 0;
}

.start-btn {
  background-color: #fff;
  border-radius: 40rem;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  outline: none;
  padding: 0.75rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  /* width: 10rem; */
  margin-left: auto;
  margin-right: auto;
}

.start-btn:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.start-btn:active {
  transform: scale(1.025);
}

body.re-started .start-btn {
  display: block;
}

header .level {
  display: none;
}

header .level {
  margin: auto;
  font-size: 1.5rem;
  font-family: "Tilt Warp", cursive;
  color: black;
  background-color: #e1b12c;
  padding: 10px;
  position: absolute;
  left: 3rem;
}

main {
  flex: 1;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.instructions {
  font-size: 2rem;
  text-align: center;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  border-radius: 16px;
}

body.re-started .instructions {
  display: none;
}

#canvas {
  display: none;
}

.re-started #canvas {
  display: block;
  background-color: rgba(139, 68, 19, 0.8);
}

.question {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 70%;
  text-align: center;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 70%;
  text-align: center;
}

.choices .btn-answer {
  background-color: #e1b12c;
  font-size: 1.5rem;
  padding: 16px;
  border: none;
  border-radius: 32px;
  transition: all 0.5s;
  cursor: pointer;
}

.choices .btn-answer:hover {
  background-color: black;
  color: #e1b12c;
}

.riddle .question {
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 70%;
  text-align: center;
  position: relative;
}

.riddle .choices {
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.timer {
  display: none;
  font-family: "Delicious Handrawn", cursive;
  font-size: 44px;
  text-align: center;
  position: absolute;
  right: 3rem;
}
